<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="arsenal.metiz.catalog">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo3"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo3"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar"></activity>
        <activity android:name=".NotInTheBaseActivity" />
        <activity android:name=".ConfirmCertificateActivity" />
        <activity android:name=".FakeCertificateActivity" />
        <activity android:name=".BarcodeCustomersActivity" />
        <activity android:name=".BarcodeCompActivity" />
        <activity android:name=".BarcodeScanActivity" />
        <activity android:name=".NoInternetActivity" />
        <activity
            android:name=".RequestStatusActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SuccessActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RequestActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InfoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity android:name=".mWebView" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <meta-data
        android:name="com.google.firebase.ml.vision.DEPENDENCIES"
        android:value="barcode" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />

</manifest>